### ch2_06_tuple.py

# print("튜플: tuple 이란?")

In [9]:
even = (2, 4, 6, 8)
even

(2, 4, 6, 8)

In [10]:
t1 = () # 튜플 초기화
t1

()

In [11]:
t2 = (1,)
t2

(1,)

In [12]:
t3 = (1, 2, 3)
t3

(1, 2, 3)

In [13]:
t4 = 1, 2, 3
t4

(1, 2, 3)

In [8]:
t5 = ("a", "b", ("ab", "cd"))
t5

('a', 'b', ('ab', 'cd'))

### 1. 튜플 요솟값을 삭제하려 할 때

In [15]:
t1 = (1, 2, "a", "b")
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 2. 튜플 요솟값을 변경하려 할 때

In [16]:
t1[0] = "c"

TypeError: 'tuple' object does not support item assignment

# print("튜플: 사용방법")

### 인덱싱하기

In [17]:
t1 = (1, 2, "a", "b")
t1[0]

1

In [18]:
t1[3]

'b'

### 슬라이싱하기

In [21]:
t1 = (1, 2, "a", "b")
t1[1:]

(2, 'a', 'b')

In [22]:
t1[2:-1]

('a',)

In [23]:
t1[2:]

('a', 'b')

### 튜플 더하기

In [25]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [27]:
t2 = (3, 4)
id(t2)

1399999695808

In [34]:
t2 * 3
id(t2)

1399947141184

In [33]:
t2 = t2 * 3
id(t2)

1399947141184

### 튜플 길이 구하기

In [35]:
t1 = (1, 2, "a", "b")
len(t1)

4