# print("문자열: '")

In [1]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [2]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-2-336a85538234>, line 1)

In [5]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

# print("문자열: \ 이용")

In [7]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [8]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

# print("문자열: 이스케이프 코드 이용")

In [11]:
multiline = "Life is too short\nYou need python"
multiline
print(multiline)

Life is too short
You need python

In [12]:
multiline = '''
... Life is too short
... You need python
... '''
multiline
print(multiline)

Life is too short
You need python

# print("문자열 연산: 더하기")

In [13]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

# print("문자열 연산: 곱하기")

In [14]:
a = "python"
a * 2

'pythonpython'

## multistring.py

In [15]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

## 내장함수: len()

In [17]:
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short"
len(a)

문자열 연산: 길이 구하기 - len()

17

# print("문자열: 인덱싱이란?")

In [19]:
a = "Life is too short, You need Python"
print(a[3])
print(a[15])

e
r

# print("문자열: 인덱싱 활용")

In [20]:
a = "Life is too short, You need Python"
a[0]

'L'

In [21]:
a[12]

's'

In [22]:
a[-1]

'n'

## a[-0]

In [24]:
print(a[-2])
print(a[-5])
print(a[-12])

o
y

# print("문자열: 슬라이싱이란?")

In [26]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

## # slicing (슬라이싱)

In [27]:
a[0:4]

'Life'

In [28]:
print(a[0:5])
print(a[5:7])
print(a[12:17])

Life
is
short

## : 의 사용

In [29]:
print(a[:4])
print(a[19:])
print(a[:17])

print(a[:])

Life
You need Python
Life is too short
Life is too short, You need Python

In [31]:
print(a[19:-7])

You need

# print("문자열: 슬라이싱 응용?")

In [37]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20190909
Sunny

In [38]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year,day,weather)

2019 0917 Rainy

## "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [39]:
a = "Pithon"
a[1]
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [40]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

# print("문자열: 포매팅이란?")

## 1. 숫자 바로 대입

In [41]:
"I eat %d apples." % 3

'I eat 3 apples.'

## 2. 문자열 바로 대입

In [43]:
"I eat %s apples." % "five"

'I eat five apples.'

## 3. 숫자 값을 나타내는 변수로 대입

In [45]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

## 4. 2개 이상의 값 넣기

In [51]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % number)

SyntaxError: unmatched ')' (<ipython-input-51-1a81ffe2e5f7>, line 3)

In [52]:
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

# print("문자열: 포맷 코드")

In [49]:
print("I have %s apples" % 3)
print("rate is %s" % 3.234)

I have 3 apples
rate is 3.234

In [53]:
"Error is %d%." % 98

ValueError: incomplete format

In [54]:
"Error is %d%%." % 98

'Error is 98%.'

# print("문자열: 포맷 코드와 숫자 함께 사용하기")

## 1. 정렬과 공백

In [57]:
"%10s" % "hi"

'        hi'

In [58]:
"%-10sjane." % "hi"

'hi        jane.'

## 2. 소수점 표현하기

In [59]:
"%0.4f" % 3.42134234

'3.4213'

In [60]:
"%10.4f" % 3.42134234

'    3.4213'

# print("문자열: format 함수를 사용한 포매팅")

## 1. 숫자 바로 대입하기

In [61]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [62]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

## 2. 문자열 바로 대입하기

In [63]:
"I eat {0} apples".format("five")

'I eat five apples'

In [64]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

## 3. 숫자 값을 가진 변수로 대입하기

In [65]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [66]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

## 2개 이상의 값 넣기

In [67]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [68]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [69]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [70]:
"{0:<10}".format("hi")

'hi        '

In [71]:
"{0:>10}".format("hi")

'        hi'

In [72]:
"{0:^10}".format("hi")

'    hi    '

In [73]:
"{0:=^10}".format("hi")

'====hi===='

In [74]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [75]:
"{0:<10}{1:>10}".format("hi",'hcit')

'hi              hcit'

## 소수점 표현하기

In [76]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [77]:
"{0:10.4f}".format(y)

'    3.4213'

## { 또는 } 문자 표현하기

In [78]:
"{{ and }}".format()

'{ and }'

# print("문자열: f 문자열 포매팅")

In [79]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [80]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

## 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용

In [81]:
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [82]:
f'{"hi":<10}'

'hi        '

In [83]:
f'{"hi":>10}'

'        hi'

In [85]:
f'{"hi":^10}'

'    hi    '

In [87]:
y = 3.42134234
f"{y:0.4f}"

'3.4213'

In [88]:
f"{y:10.4f}"

'    3.4213'

In [89]:
f"{{ and }}"

'{ and }'

# print("문자열: 관련 내장 함수들")

## 문자 개수 세기(count)

In [90]:
a = "hobby"
a.count("b")

2

## 위치 알려주기1(find)

In [92]:
a = "Python is the best choice"
print(a.find("b"))
print(a.find("k"))

14
-1

## 위치 알려주기2(index)

In [94]:
a = "Life is too short"
print(a.index("t"))

8

In [95]:
print(a.index("k"))

ValueError: substring not found

## 문자열 삽입(join)

In [97]:
",".join("abcd")

'a,b,c,d'

In [98]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

## 소문자를 대문자로 바꾸기(upper)

In [99]:
a = "hi"
print(a.upper())

HI

## 대문자를 소문자로 바꾸기(lower)

In [102]:
a = "IoT"
print(a.lower())

iot

## 왼쪽 공백 지우기(lstrip)

In [103]:
a = " hi "
print(a.lstrip())

hi

## 오른쪽 공백 지우기(rstrip)

In [104]:
a.rstrip()

' hi'

## 양쪽 공백 지우기(strip)

In [105]:
a.strip()

'hi'

## 문자열 바꾸기(replace)

In [106]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

## 문자열 나누기(split)

In [108]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [109]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

## format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.

In [110]:
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'